---
import Layout from '~/layouts/Layout.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';


import type { MetaData } from '~/types';
import {getHomePermalink, getPermalink} from "../utils/permalinks";
import { t } from "i18next";

export interface Props {
  metadata?: MetaData;
}

const { metadata } = Astro.props;

const headerData = {
  links: [
    { text: t("main.header.home"), href: getHomePermalink() },
    { text: t("main.header.features"), href: `${getHomePermalink()}#features` },
    { text: t("main.header.pricing"), href: `${getHomePermalink()}#pricing` },
    { text: t("main.header.apps"), href: `${getHomePermalink()}#apps` },
  ],
  actions: [{
    variant: 'primary',
    text: t("main.action.download"),
    href: getHomePermalink(),
    class: ""
  }],
  position: "left"
}

const footerData =  {
  links: [
    {
      title: 'Support',
      links: [
        { text: 'flyy.service.pub@gmail.com', href: 'mailto:flyy.service.pub@gmail.com' },
        { text: 'Twitter&X', href: 'mailto:flyy.service.pub@gmail.com' },
        { text: 'Telegram', href: 'https://t.me/twiper' },
      ],
    },
  ],
  secondaryLinks: [
    { text: 'Privacy Policy', href: getPermalink('/privacy') },
  ]}
---

<Layout metadata={metadata}>
  <p>{`${getHomePermalink()}#features`}</p>
  <slot name="header">
    <Header {...headerData} isSticky false false />
  </slot>
  <main>
    <slot />
  </main>
  <slot name="footer">
    <Footer {... footerData} />
  </slot>
</Layout>
