---
import type { ItemGrid as Props } from '~/types';
import { Icon } from 'astro-icon/components';
import { twMerge } from 'tailwind-merge';
import Button from './Button.astro';
import Image from "../common/Image.astro";

const { items = [], columns, defaultIcon = '', classes = {} } = Astro.props;

const {
  container: containerClass = '',
  // container: containerClass = "sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3",
  panel: panelClass = '',
  title: titleClass = '',
  description: descriptionClass = '',
  icon: defaultIconClass = 'text-primary',
} = classes;
---

{
  items && (
    <div
      class={twMerge(
        `grid gap-8 gap-x-12 sm:gap-y-8 ${
          columns === 4
            ? 'lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2'
            : columns === 3
              ? 'lg:grid-cols-3 sm:grid-cols-2'
              : columns === 2
                ? 'sm:grid-cols-2 '
                : ''
        }`,
        containerClass
      )}
    >
      {items.map(({ title, description, icon, alt,href, callToAction, classes: itemClasses = {} }) => (
        <div class={twMerge('relative flex flex-col', panelClass, itemClasses?.panel)}>
          {(icon || defaultIcon) && (
            <!--<Image src="" class={twMerge('mb-2 w-10 h-10', defaultIconClass, itemClasses?.icon)} />-->
            <a href={href} target="_blank">
              <Image
                class={twMerge('mb-2 w-10 h-10 shadow rounded-md', defaultIconClass, itemClasses?.icon)}
                width={50}
                height={50}
                layout="fixed"
                alt={alt}
                src={icon}/>
            </a>
          )}
          <div class={twMerge('text-ms font-semibold', titleClass, itemClasses?.title)}><a href={href}>{title}</a></div>
          {description && (
            <a class={twMerge('text-muted mt-2', descriptionClass, itemClasses?.description)} href={href}>{description}</a>
          )}
          {callToAction && (
            <div class="mt-2">
              <Button {...callToAction} />
            </div>
          )}
        </div>
      ))}
    </div>
  )
}
